@page
@model IndexModel
@{
    ViewData["Title"] = "Cursor in PL/SQL";
}

<div class="text-center">
   <h1 class="display-4">Instructor Count Project</h1>
   <h3>by Aurel Villyani</h3>
   <p>Enter the name to match the last name or contains a variant of that last name</p>
   @using (Html.BeginForm())
   {
      <input type="text" name="get_words" placeholder="Enter the words" required />
      <button class="btn-primary" type="submit" asp-page-handler="Count">Count</button>
      <p>@ViewData["count"]</p>
   }
</div>
