@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   <h1 class="display-4">Instructor Count</h1>
   <p>Enter a last name and or a version of the last name to find the number of instructors with that name.</p>
   @using (Html.BeginForm("GetInstructor", "Home"))
   {
      <input type="text" name="last_name" placeholder="Enter a last name" required />
      <button type="submit">Count</button>
   }
   <h3>Results</h3>
   <p>@ViewData["count"]</p>
   <p>By Aurel Villyani</p>
   <p>Project <a href="pcci.instructure.com/courses/28155/assignments/541203">PL/SQL Cursor and ASP.NET Project</a>.</p>
</div>
